# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

-Languages for Data Science

-Libraries for Data Science

-Examples of arithmetic expression in Phython

## Author 
Martina Coffaro

Some of the popular languages that Data Scientists use are:
+ Python
+ R 
+ SQL

Some of the commonly used libraries used by Data Scientists include:
+ Panda
+ Numpy
+ Matplotlib

| Data Science Tools |
| --- |
| Jupyter | 
| RStudio |
| Spider |

 ### Below are a few examples of evaluating arithmetic expressions in Python
 
 2+2 
 
 (20*2)+10

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
min=200
min/60

3.3333333333333335